doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport', content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    link(href='//fonts.googleapis.com/css?family=Raleway:400,700', rel='stylesheet', type='text/css')
    link(href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/card/css/card-list.css')
    style.
      .icon-container{
        display: flex;
        justify-content: center;
      }

    script(src="/card/js/mixpanel-card.js")

  body
    #dmc-card-container
      nav#card-list-filter
        h1 Select Video By Category
        ul
          li(data-category="all").active All Categories<span>(#{adunit.creative_count} Videos)</span>
          each category in adunit.creative_categories
            li(data-category="#{category.category}" data-count="#{category.count}")
              | #{category.category}<span>(#{category.count})</span>

      #card
        header#card-header
          .filter.category.icon-container
            i.fa.fa-list
          .back.icon-container
            i.fa.fa-arrow-left
          .logo
            img(src='#{adunit.card.logo}',alt=)
          .close-card.icon-container
            i.fa.fa-times

        div#card-list
          each creative in adunit.creatives_compiled
            .item(data-id="#{creative._id}" data-category="#{creative.category}" data-obj="#{creative}")
              .thumbnail(style='background-image: url("#{creative.media.logo}");')
              .text
                .title #{creative.headline}
                .tagline #{creative.tagline}

        div#card-detail
          script(id="entry-template" type="text/x-handlebars-template").
            {{#if isClixie}}
              <iframe id="clixie-video-player" width="100%" height="180" allowfullscreen frameborder="0" src="#{domain}/clixie/embed"></iframe>
            {{else}}
              <video id="native-video-player" controls preload="none" src="{{media.mp4}}" style="background-image:url({{media.logo}});"></video>
            {{/if}}
            <div class="info">
              <h1 class="title">{{headline}}</h1>
              <h3 class="tagline">{{tagline}}</h1>
              {{#if address.city}}
              <address class="address">
                <div class="street">{{address.street}}</div>
                <div class="street_2">{{address.street_2}}</div>
                <div class="city">{{address.city}}, {{address.state}} {{address.zip}}</div>
              </address>
              {{/if}}
              <p class="description">{{description}}</h1>
              {{#if coupon.text}}
              <div class="coupon">
                <a href="{{coupon.link}}" target="_blank">
                  <img src="{{coupon.text}}">
                </a>
              </div>
              {{/if}}
              {{!-- only output map if address exists --}}
              {{#if address.city}}
                <div class="map">
                  <a>
                    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{address.city}}+{{address.state}}+{{address.zip}}&size=300x250&zoom=13&key=AIzaSyCTKTvBX5H-W7pB3icJHLuL6qiDiNA6mYc">
                  </a>
                </div>
              {{/if}}
              <div class="disclosure">The video and landing page you are seeing are fully customized products built exclusively by DMC, Inc. To find out how you can get affordable customized videos and landing pages produced for your business, please contact us at <a href="mailto:info@digitalmediacommunications.com">info@digitalmediacommunications.com</a></div>
              <div class="copyright">© Powered By Digital Media Communications, Inc. All rights Reserved.</div>
              <div class="debug">LID: {{extra.listingID}} | ADNUM: {{extra.dmcAdNumber}}</div>
            </div>

          #entryOutput
            //- entry template output here

        footer#card-footer.reverse
          a.btn.apply(target="_blank" data-medium="Apply")
              p Apply Today
          .share
            a.btn.fb(target="_blank" data-medium="Facebook")
              i.fa.fa-facebook
            a.btn.twitter(target="_blank" data-medium="Twitter")
              i.fa.fa-twitter
            a.btn.sms(target="_blank" data-medium="SMS")
              i.fa.fa-commenting


    script.
      window.DMC = {};
      window.DMC.Native = {};
      window.DMC.Native.data = !{JSON.stringify(adunit)};
      window.parent.postMessage("dmc-card-loaded", "*");

    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/easing/EasePack.min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js")
    script(type='text/javascript' src='/card/js/card-list-min.js')
