extends layout

block content
	.row.wrapper.border-bottom.white-bg.page-heading
		.col-xs-12
			h2 Ad Unit: #{title} - Analytics
			ol.breadcrumb
				li
					a(href="/dashboard") Home
				li
					a(href="/dashboard/adunits") Ad Units
				li
					a(href="/dashboard/adunit/#{title}") #{title}
				li.active
					a(href="/dashboard/adunit/analytics/#{title}") Analytics


	.wrapper.wrapper-content.animated.fadeInRight
		.ibox
			.ibox-title
				h2 Activity over the last 30 days
				a.btn.btn-primary.pull-right
					| Remove Orphans

			.ibox-content(style="height:400px;")
					.col-xs-8
						#output
						hr
						#output-2
					.col-xs-4
						#date-selector

	link(rel='stylesheet', type='text/css', href='https://cdn.mxpnl.com/libs/mixpanel-platform/build/mixpanel-platform.v0.latest.min.css')
	script(src='//cdn.mxpnl.com/libs/mixpanel-platform/build/mixpanel-platform.v0.latest.min.js')
	//- script(src='/js/mixpanel-native.js')
	script.
		//- create date selector
		var dateSelector = $('<div></div>').appendTo('#date-selector').MPDatepicker();
		dateSelector.on('change', function(e, dates) {
			alert('From: ' + dates.from + '\nTo: ' + dates.to);
			var start = moment(dates.from).format('YYYY-MM-DD');
			var end = moment(dates.to).format('YYYY-MM-DD');
			loadSecond(start,end);
		});
		MP.api.setCredentials('c97cbd5d6f444d7ecc12828b7ccd898b');
		MP.api.jql(
		function main() {
		return Events({
		from_date: "2016-08-21",
		to_date: "2016-09-20"
		})
		// .filter(function(event) { return event.name == "Video Play" })
		.filter(function(event) { return event.properties.short_id == "#{shortID}" })
		.groupBy(
		["name", "properties.medium"],
		mixpanel.reducer.count()
		)
		.map(function(item) {
		return {
		"action": item.key[0],
		// "dmcAdNumber": item.key[1],
		"medium": item.key[1],
		"value": item.value
		};
		});
		}
		).done(function(results) {
		console.log(results);
		results = _.sortBy(results, 'value').reverse();
		_.each(results, function(result) {
		console.log(result);
		var str = result.action + " | " + result.value + "<br>";
		if (result.action == "Share") {
		str = result.action + ": " + result.medium + " | " + result.value + "<br>";
		}
		$('#output').append(str);
		});
		});

		function loadSecond(start,end){
		console.log('loadSecond: ', start);
		MP.api.jql(
		function main() {
		return Events({
		from_date: start,
		to_date: "2016-09-20"
		})
		// .filter(function(event) { return event.name == "Video Play" })
		.filter(function(event) { return event.properties.short_id == "#{shortID}" })
		.groupBy(
		["name", "properties.medium"],
		mixpanel.reducer.count()
		)
		.map(function(item) {
		return {
		"action": item.key[0],
		// "dmcAdNumber": item.key[1],
		"medium": item.key[1],
		"value": item.value
		};
		});
		}
		).done(function(results) {
		console.log(results);
		results = _.sortBy(results, 'value').reverse();
		_.each(results, function(result) {
		console.log('2nd Query')
		console.log(result);
		var jr = result.action + " | " + result.value + "<br>";
		if (result.action == "Share") {
		jr = result.action + ": " + result.medium + " | " + result.value + "<br>";
		}
		$('#output-2').append(jr);
		});
		});
		};